<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tvastra</title>
    <link
      href="/src/client/assets/css/reset.css"
      rel="stylesheet"
      type="text/css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link href="/src/client/assets/css/style.css" rel="stylesheet" type="text/css"> -->
    <style>
      .topNav {
        background-color: white;
        display: inline-flex;
        justify-content: space-between;
      }

      #logo {
        flex: 2 2 100px;
      }

      .container {
        justify-content: space-around;
      }
    </style>
  </head>
  <body>
    <div class="topNav">
      <nav>
        <a id="logo" href="#">
          <img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
            alt="alternate_text"
            style="width: 150px"
          />
        </a>
      </nav>
      <div class="container" id="mainpage">
        <div class="side"></div>
        <div class="center"></div>
        <div class="side"></div>
      </div>
    </div>
  </body>
</html>
