.submitQuery {
    background-color: var(--colorLightBlue);
    color: var(--colorLightGrey);
}

.containerSubmitQuery h2 {
    color: var(--colorWhite);
}

.containerSubmitQuery p {
    color:var(--colorDarkBlue);
    padding: 1rem 0;
}

.containerSubmitQuery button {
    background-color: var(--colorBlue);
    color: var(--colorWhite);
    justify-self: center;
    width: 15rem;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 5px;  
}