:root{
    --colorWhite:#ffffff;
    --colorDarkBlue:#021433;
    --colorBlue:#0099ff;
    --colorLightBlue:#8fcaf1;
    --colorGrey:#636668;
    --colorLightGrey:#cccccc;
    --colorDarkGrey: #525659;
    --colorBackgroundGrey: #f3f3f3;
}

@font-face{
    font-family: nexa-bold;
    src:url(../fonts/boldFont.otf);
  }
@font-face{
    font-family: nexa-light;
    src:url(../fonts/lightFont.otf);
}

html * {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: nexa-bold;
    color: var(--colorDarkBlue);
}

h1{
    font-size: 2.2rem;
    line-height: 2.5rem;
}

h2{
    font-size: 1.8rem;
    line-height: 2rem;
}

h3{
    font-size: 1.5rem;
    line-height: 1.7rem;
}

h4{
    font-size: 1.3rem;
    line-height: 1.5rem;
}

h5{
    font-size: 1.1rem;
    line-height: 1.3rem;
}

h6 {
    font-size: 1rem;
    line-height: 1.2rem;
}

img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

p{
    line-height: 1.4rem;
    font-family: nexa-light;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: var(--colorDarkGrey);
}

option{
    font-size: 1.2rem;
    font-family: nexa-light;
}


button {
    border-style: none;
    padding: 0.5rem 1rem;
    font-family: nexa-bold;
    cursor: pointer;
}

input:focus , button:focus, select:focus, textarea:focus{
    outline: none;
}

label{
    font-family: nexa-light;
    font-size: 1rem;
}

a{
    cursor: pointer;
    text-decoration: none;
}

ui>li,oi>li{
    color: var(--colorGrey);
    font-size: 1rem;
    letter-spacing: 0.3vw;
}

input,select{
    font-family:  nexa-light;
    font-size:1rem;
    line-height: 1.6rem;
    color:var(--colorGrey);
    padding: 0.5rem 0.5rem;
    border-style: none;
}

textarea{
    font-family: nexa-light;
    width: 100%;
    font-size: 1.rem;
    line-height: 1.4rem;
    color:var(--colorGrey);
    margin-bottom: 1.2rem;
    border: 1px solid var(--colorLightGrey);
}

::placeholder{
    font-family: nexa-light;
    color: var(--colorDarkGrey);
}

header{
    padding: 0.2rem 1rem;
}

section{
    padding: 2rem 1rem;
    text-align: center;
}

@media only screen and (min-width:768px) and (max-width:1024px){

    h1{
        font-size: 1.8rem;
        line-height: 2rem;
    }
    
    h2{
        font-size: 1.8rem;
        line-height: 2rem;
    }
    
    h3{
        font-size: 2rem;
        line-height: 2rem;
    }
    
    h4{
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    
    h5{
        font-size: 1.3rem;
        line-height: 1.4rem;
    }
    
    h6 {
        font-size: 2rem;
        line-height: 2.2rem;
    }
    
    p{
        font-family: nexa-light;
        font-size: 1.1rem;
    }
    
    header {
        padding: 1rem 1rem;
    }
 
    section {
        padding: 2rem 2rem;
    } 

    footer {
        padding: 2rem 2rem;
    }
}

@media only screen and (min-width:1025px){

    h1{
        font-size: 2.2rem;
        line-height: 2.6rem;
    }
    
    h2{
        font-size: 2.2rem;
        line-height: 2.4rem;
    }
    
    h3{
        font-size: 2.6rem;
        line-height: 2.8rem;
    }
    
    h4{
        font-size: 2.4rem;
        line-height: 2.8rem;
    }
    
    h5{
        font-size: 2.8rem;
        line-height: 2.2rem;
    }
    
    h6 {
        font-size: 2.2rem;
        line-height: 2.4rem;
    }

    p{
        font-size: 1.4rem;
        line-height: 1.6rem;
    }

    header {
        padding: 1rem 3rem 1rem 4.5rem;
    }

    section {
        padding: 4.5rem 4rem;
    } 

    footer {
        padding: 2rem 4.5rem;
    }
}