:root{
    --colorWhite:#ffffff;
    --colorDarkBlue:#021433;
    --colorBlue:#0099ff;
    --colorLightBlue:#8fcaf1;
    --colorGrey:#636668;
    --colorLightGrey:#cccccc;
    --colorDarkGrey: #525659;
    --colorBackgroundGrey: #f3f3f3;
}

@font-face{
    font-family: nexa-bold;
    src:url(../fonts/boldFont.otf);
  }
@font-face{
    font-family: nexa-light;
    src:url(../fonts/lightFont.otf);
}

h1,h2,h3,h4,h5,h6{
    font-family: nexa-bold;
    color: var(--colorDarkBlue);
}

h1{
    font-size: 2.2rem;
    line-height: 2.5rem;
}

h2{
    font-size: 1.8rem;
    line-height: 2rem;
}

h3{
    font-size: 1.5rem;
    line-height: 1.7rem;
}

h4{
    font-size: 1.3rem;
    line-height: 1.5rem;
}

h5{
    font-size: 1.1rem;
    line-height: 1.3rem;
}

h6 {
    font-size: 1rem;
    line-height: 1.2rem;
}

img{
    width:100%;
    height:100%;
    object-fit: fill;
}

p{
    display: block;
    font-family: nexa-light;
    font-size: 1rem;
    letter-spacing: 0.2vw;
    margin-bottom: 1rem;
    color: var(--colorDarkGrey);
}

button {
    border-style: none;
    padding: 0.5rem 1rem;
    font-family: nexa-bold;
}

input:focus , button:focus, select:focus, textarea:focus{
    outline: none;
}

textarea{
    resize: none;
    color: var(--colorGrey);
    font-size: 1.1rem;
    line-height: 1.4rem;
    padding: 0.5rem 0.5rem;
    font-family: nexa-light;    
    width: 100%;
    margin-bottom: 1.2rem;
    border: 1px solid var(--colorLightGrey);
}

label{
    font-family: nexa-light;
    font-size: 1rem;
}

a{
    text-decoration: none;
}

li{
    color: var(--colorGrey);
    font-size: 1rem;
    letter-spacing: 0.3vw;
}

input,select{
    font-family:  nexa-light;
    font-size:1rem;
    line-height: 1.6rem;
    color:var(--colorGrey);
    border-style: none;
}

textarea{
    font-family: nexa-light;
    width: 100%;
    color:var(--colorGrey);
    margin-bottom: 1.2rem;
    border: 1px solid var(--colorLightGrey);
}

::placeholder{
    font-family: nexa-bold;
    font-size:1rem;
    color: var(--colorLightGrey);
}

header{
    padding: 0.2rem 1rem;
}

section{
    padding: 2rem 1rem;
    text-align: center;
}

@media only screen and (min-width:768px) and (max-width:1024px){

    header {
        padding: 1rem 2rem;
    }
 

    section {
        padding: 2rem 2rem;
        text-align:center;
    } 

    footer {
        padding: 2rem 2rem;
    }

}

@media only screen and (min-width:1200px){

    header {
        padding: 1rem 3rem 1rem 4.5rem;
    }

    section {
        font-size: 0.9rem;
        line-height: 2.4rem;
        padding: 4.5rem 4.5rem;
    } 

    footer {
        padding: 2rem 4.5rem;
    }
}